* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(38,0,50,1) 0%, rgba(68,0,104,1) 61%, rgba(124,0,160,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-width: 450px;
    width: 80%;
}

.heading {
    color: white;
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
}

.password-box {
    width: 100%;
    position: relative;
}

#password-holder {
    width: 100%;
    background-color: rgb(4, 0, 37);
    border: none;
    border-bottom: 6px solid rgb(147, 139, 255);
    border-radius: 10px;
    padding: 25px 25px 22px 25px;
    color: rgb(255, 255, 125);
    font-size: 1.3rem;
    font-weight: 550;
}

#password-holder::placeholder {
    color: rgba(255, 255, 125, 0.804);
    font-size: 1.3rem;
    font-weight: 550;
}

#password-holder:focus {
    outline: none;
}

#copy-btn {
    position: absolute;
    right: 18px;
    top: 16px;
    background: transparent;
    border: none;
}

#copy-img {
    color: white;
}


.copy-text {
    position: absolute;
    top: -35px;
    left: -18px;
    transform: scale(0);
    color: rgb(4, 0, 37);
    background-color: rgb(255, 255, 125);
    font-size: 1rem;
    padding: 6px 12px;
    border-radius: 15px;
    transition-duration: 300ms;
}

.active {
    transform: scale(1);
}

.big-box {
    width: 100%;
    background-color: rgb(4, 0, 37);
    border-radius: 12px;
    border-bottom: 6px solid rgb(147, 139, 255);
    color: white;
    padding: 26px;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.length-box {
    position: relative;
    width: 100%;
}

.pass-length {
    font-size: 1.5rem;
}

#counter {
    position: absolute;
    right: 12px;
    top: 0px;
    font-size: 1.6rem;
    color: rgb(255, 255, 125);
    font-weight: 600;
}

#slider {
    appearance: none;
    height: 11px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(rgb(147, 139, 255),rgb(147, 139, 255));
    background-repeat: no-repeat;
    background-position: left;
    border: none;
    border-radius: 10px;
    margin: 14px 0;
}

#slider::-webkit-slider-thumb {
    appearance: none;
    position: relative;
    background-color: yellow;
    box-shadow: 0 0 4px 4px rgba(255, 255, 0, 0.303);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    appearance: none;
    position: relative;
    background-color: yellow;
    box-shadow: 0 0 4px 4px rgba(255, 255, 0, 0.303);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    cursor: pointer;
}

#slider:focus {
    outline: 3px solid yellow;
}

#slider::-webkit-slider-thumb:hover {
    background-color: rgb(4, 0, 37);
    box-shadow: 0 0 8px 8px rgba(255, 255, 0, 0.303);
    outline: 2px solid yellow;
}

#slider::-moz-range-thumb:hover {
    background-color: rgb(4, 0, 37);
    box-shadow: 0 0 8px 8px rgba(255, 255, 0, 0.303);
    outline: 2px solid yellow;
}

label {
    font-size: 1.3rem;
    padding-left: 8px;
}

input[type="checkbox"] {
    appearance: none;
    height: 18px;
    width: 18px;
    border: 1px solid rgba(255, 255, 255, 0.746);
    border-radius: 5px;
}

input[type="checkbox"]:checked {
    background-color: yellow;
    background-image: url(./images/noun-tick-2103587.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.strength-box {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.strength {
    font-size: 1.5rem;
}

#strength-indicator {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px #ffffff4d;
    transition-duration: 300ms;
}

#generate-btn {
    background-color: rgb(73, 73, 255);
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 10px;
    border-bottom: 4px solid white;
    transition-duration: 300ms;
}

#generate-btn:hover {
    color: yellow;
    border-bottom: 4px solid yellow;
}